[Desktop Entry]
Type=Application
Name=QT-AntennaAnalyzer
Exec=QT-AntennaAnalyzer
Icon=QT-AntennaAnalyzer
Comment=Visualization Software for the SARK-110
Terminal=false
Categories=Utility;

